@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.Header{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    width: 100%; /*se colocar 100% ele quebra a largura vê isso depois*/
    height: 18vh;

    background-color: #F8F8F8;
    /* background-color: yellowgreen; */
    
    /**o padding ta quebrando tudo**/

    font-family: 'Inter', sans-serif;
    font-size: 16px;
}



.HeaderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: 100%;

    font-family: 'Inter', sans-serif;
    /* background-color: rebeccapurple; */
}

.HeaderTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 2rem;
    align-items: center;
    
    width: 100%;
    height: 50%;


    
    /* background-color: aqua; */
}

.NavTop{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    border: none;
    text-decoration: none;
    /**olha o padding do Header**/


}

.NavTop button{
    width: 10%;
    height: 49%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    border: none;
    border-radius: 8px;

    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;

    cursor: pointer;

    background-color: #C92071;
}

.NavTop .NavTopCadastrese{
    color: #474747;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    text-decoration: underline;

}


.NavTop .NavTopCart{
    cursor: pointer;

    width: 5%;
    height: 30%;
}


.NavTop .SearchAreaHeader {
    width: 60%;
    height: 3rem;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #e2e0e0;
    
}

.SearchAreaHeader::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #999; 
    text-align: left;
}

.HeaderTop a{
    text-decoration: none;
    color: #1F1F1F;
}

.HeaderBotton {   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    /* background-color: blue; */
}

.NavTop .ButtonNavTop {
    font-size: small;
    background-color: #C92071;
    border-radius: 5px;
    width: 7rem;
    height: 2rem;
}

.NavBotton {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2.5rem;
}

.HeaderBotton .NavBotton a {
    text-decoration: none;
    color: #474747;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;

    position: relative;
    transition: color 0.3s ease-in-out;
}

.HeaderBotton .NavBotton a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #C92071;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
}

.HeaderBotton .NavBotton a:hover {
    color: #C92071;
}

.HeaderBotton .NavBotton a:hover::after {
    width: 100%;
    left: 0;
    background: #C92071;
}