@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.size-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.productSizes {
  display: flex;
  gap: 10px;
  margin-bottom: 20px; /* Espaçamento entre o título e os botões de tamanho */
}

.size-radio {
  display: none; /* Esconde os radio buttons reais */
}

.size-button {
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.size-radio:checked + .size-button {
  background-color: #C92071; /* Cor de fundo quando selecionado */
  color: #FFFFFF; /* Cor do texto quando selecionado */
}

.color-title {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.productColors {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento entre o título e os círculos de cor */
}

.color-radio {
  display: none; /* Esconde os radio buttons reais */
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

/* Estilo para quando o radio button está marcado */
.color-radio:checked + .color-circle {
  border-color: #000; /* Muda a borda quando o radio button está marcado */
}