.MainBottom{
    font-family: Inter;
    width: 100%;
    height: 65vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
    /* background-color: rgba(255, 255, 255, 1); */
}

.MainBottomContainer{
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    /* background-color: rebeccapurple; */

}

.ImgBottonContainer{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: white; */
}

.ImgBottonContainer img{
    width: auto;
    height: auto;
}

.TextBottonContainer{
    width: 50%;
    height: 100%;

    /* background-color: blanchedalmond; */
}

.ColumnText{
    width: 98%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 8%;
    margin-left: 2%;

    justify-content: center;

    /* background-color: black; */
    
}

.ColumnText h2{
    font-size: 48px;
    
    font-weight: 700;
    color: rgba(71, 71, 71, 1);
    text-wrap: wrap;
    word-wrap: break-word;
}

/* .TextBottonCenter{
    width: 100%;
    height: 70%;

    margin-left: 30px;
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;


} */


.TextOfert{
    color: rgba(201, 32, 113, 1);
}


.ColumnButton{
    color: rgba(245, 245, 245, 1);
    background-color:rgba(201, 32, 113, 1);

    width: 200px;
    height: 40px;

    font-family: Inter;
    font-weight: 700;
    width: 9rem;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}







